{{> header}}

<body>
{{name}}

{{#each this}}
<p>
    {{this.name}}
    {{this.ftape}}
    {{this.timestamp}}
    {{this.datetime}}
    {{this.size}}
    {{this.hsize}}
    {{this.unit}}
    {{this.acro_unit}}
    {{this.elements}}
</p>
{{/each}}

{{> scripts}}

</body>
