{{> header}}

<body>
{{name}}

{{#each directories}}
<h1>
    {{this.name}}
    {{this.size}}
    {{this.timestamp}}
    {{this.datetime}}
</h1>
{{/each}}

{{#each files}}
<h1>
    {{this.name}}
    {{this.size}}
    {{this.timestamp}}
    {{this.datetime}}
</h1>
{{/each}}

{{> scripts}}

</body>
