{{> header}}

<body>

<div class="container">

    <nav class="breadcrumb is-large" aria-label="breadcrumbs">
        <ul>
        </ul>
    </nav>

    <table class="table is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Date</th>
                <th>Size</th>
                <th>Unit</th>
            </tr>
        </thead>
        <tbody>

            {{#each directories}}
            <tr class="is-directory" id="dir_{{ @index }}">
                <td class="type">DIR</td>
                <td class="name">{{ this.name }}</td>
                <td class="date">{{ this.datetime }}</td>
                <td class="size">{{ this.hsize }}</td>
                <td class="unit">{{ this.short_unit }}</td>
            </tr>
            {{/each}}

            {{#each files}}
            <tr class="is-file" id="file_{{ @index }}">
                <td class="type">FILE</td>
                <td class="name">{{ this.name }}</td>
                <td class="date">{{ this.datetime }}</td>
                <td class="size">{{ this.hsize }}</td>
                <td class="unit">{{ this.short_unit }}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>

</div>

{{> scripts}}
</body>
</html>
