{{> header}}

<body>

{{#each directories}}
<p> {{this.name}} - {{this.size}} - {{this.hsize}} - {{this.short_unit}} </p>
{{/each}}

{{#each files}}
<p> {{this.name}} - {{this.size}} - {{this.hsize}} - {{this.short_unit}} </p>
{{/each}}

{{> scripts}}

</body>
